@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 125 47% 94%;
    --foreground: 124 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 124 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 124 25% 15%;
    --primary: 124 43% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 125 30% 88%;
    --secondary-foreground: 124 25% 15%;
    --muted: 125 30% 88%;
    --muted-foreground: 124 15% 45%;
    --accent: 207 88% 68%;
    --accent-foreground: 124 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 80%;
    --input: 0 0% 100%;
    --ring: 207 88% 68%;
    --chart-1: 124 43% 39%;
    --chart-2: 207 88% 68%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
    --sidebar-background: 124 25% 15%;
    --sidebar-foreground: 125 30% 80%;
    --sidebar-primary: 124 43% 39%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 124 25% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 124 25% 20%;
    --sidebar-ring: 207 88% 68%;
  }
  .dark {
    --background: 124 10% 10%;
    --foreground: 125 30% 88%;
    --card: 124 10% 15%;
    --card-foreground: 125 30% 88%;
    --popover: 124 10% 15%;
    --popover-foreground: 125 30% 88%;
    --primary: 124 43% 39%;
    --primary-foreground: 0 0% 98%;
    --secondary: 124 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 124 15% 25%;
    --muted-foreground: 125 20% 60%;
    --accent: 207 88% 68%;
    --accent-foreground: 124 15% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 124 15% 25%;
    --input: 124 15% 25%;
    --ring: 124 43% 39%;
    --chart-1: 124 43% 39%;
    --chart-2: 207 88% 68%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 173 58% 39%;
    --sidebar-background: 124 10% 10%;
    --sidebar-foreground: 125 30% 88%;
    --sidebar-primary: 124 43% 39%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 124 15% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 124 10% 20%;
    --sidebar-ring: 207 88% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
